/*
!aliases
!apt/
!colortail/
!cron.d/
!default/
!group
!passwd
!hosts
!iproute2/
!ntp.conf
!postfix
!resolv.conf
!screenrc
!scripts/
!ssh/
!systemd/
!teamd.conf
!udev/
!vim/
!extra_exercises
!sudoers.d/
!sudoers
!installed_packages
!network/
!ntp.conf
.gitignore
!ufw/
!todo.md
!fail2ban/
!bind/
!apache2/
!php/
