# vim: tabstop=2 expandtab shiftwidth=2 softtabstop=2
http://robin-vandenbroeck.sb.uclllabs.be, *:80 {
   root /etc/www/default
   gzip
   log /var/log/http/access.log
   errors /var/log/http/error.log
   fastcgi / 127.0.0.1:9000 php
}

http://www.robin-vandenbroeck.sb.uclllabs.be {
   redir http://robin-vandenbroeck.sb.uclllabs.be
}
http://www1.robin-vandenbroeck.sb.uclllabs.be {
    root /etc/www/www1
    gzip
    basicauth /private check ch3ck
    log /var/log/http/access-www1.log
    errors /var/log/http/error-www1.log
}

http://www2.robin-vandenbroeck.sb.uclllabs.be {
   root /etc/www/www2
   gzip
   log /var/log/http/access-www2.log
   errors /var/log/http/error-www2.log
   fastcgi / 127.0.0.1:9000 php
}

http://secure.robin-vandenbroeck.sb.uclllabs.be {
  redir https://secure.robin-vandenbroeck.sb.uclllabs.be
}

https://secure.robin-vandenbroeck.sb.uclllabs.be {
  root /etc/www/secure
  gzip
  log /var/log/http/access-secure.log
  errors /var/log/http/error-secure.log
}

https://supersecure.robin-vandenbroeck.sb.uclllabs.be {
  header / {
    Strict-Transport-Security "max-age 31968000" # 370 dagen (* 60 60 24 370)
  }
  root /etc/www/secure
  gzip
  log /var/log/http/access-supersecure.log
  errors /var/log/http/error-superescure.log
}
