www1.robin-vandenbroeck.sb.uclllabs.be:80 {
    root /etc/www/www1
    gzip
    basicauth /private check ch3ck
    log /var/log/http/access-www1.log
    errors /var/log/http/error-www1.log
}

www2.robin-vandenbroeck.sb.uclllabs.be:80 {
   root /etc/www/www2
   gzip
   log /var/log/http/access-www2.log
   errors /var/log/http/error-www2.log
   fastcgi / 127.0.0.1:9000 php
}
